body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 1.5em;
}

h3 {
  margin-bottom: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

#root-1,
#root-2,
#root-3,
#root-4,
#root-5,
.root-description {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0 30px;
}

.root-description {
  padding: 0;
  text-align: left;
}
